@import "./src/styles/variables.scss";
@import "./src/styles/mixins.scss";

.container {
  display: grid;
  grid-auto-flow: dense;
  color: $text-primary;
  width: 60%;
  margin-top: 2rem;

  @include up($breakpoint-md) {
    &:nth-child(odd) {
      grid-template-columns: 4fr 3fr;
      text-align: start;

      & .projectImage {
        grid-column: 1 / 1;
      }

      & .projectContent {
        grid-column: 2 / 2;
        margin-left: 1rem;
        align-items: flex-start;
      }
    }

    &:nth-child(even) {
      grid-template-columns: 3fr 4fr;
      text-align: end;

      & > .projectImage {
        grid-column: 2 / 2;
      }

      & > .projectContent {
        grid-column: 1 / 1;
        margin-right: 1rem;
        align-items: flex-end;
      }
    }
  }

  @include between($breakpoint-sm, $breakpoint-md) {
    width: 80%;

    & > div {
      grid-template-columns: 1fr;
      grid-template-rows: 4fr 3fr;
      text-align: center;
    }

    .projectImage {
      grid-row: 1 / 1;
      grid-column: 1 / 1;
    }

    .projectContent {
      grid-row: 2 / 2;
      grid-column: 1 / 1;
      margin-left: 0;
      margin-right: 0;
      margin-top: 2rem;
    }
  }

  @include down($breakpoint-sm) {
    width: 80%;

    & > div {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      justify-items: center;

      & .projectImage {
        display: none;
      }

      & .projectContent {
        grid-row: 1 / 1;
        grid-column: 1 / 1;
        margin-top: 2rem;
      }
    }
  }
}

.imageContainer {
  &:nth-child(even) {
    text-align: end;
  }

  &:nth-child(odd) {
    text-align: start;
  }
}

.image {
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include down($breakpoint-md) {
    text-align: center;
  }
}

.title {
  font-size: 2rem;

  @include down($breakpoint-xs) {
    font-size: 1.7rem;
  }
}

.subtitle {
  color: $text-faded;
  margin-top: 0.5rem;
  font-size: 1.3rem;

  @include down($breakpoint-xs) {
    font-size: 1rem;
  }
}

.description {
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: $background-light;

  a {
    margin: 0 0.3rem 0 0.3rem;
    text-decoration: none;
    color: $text-highlight;
  }

  @include down($breakpoint-md) {
    text-align: start;
  }
}

.tags {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.tag {
  color: $text-highlight;
  font-weight: bold;
  padding-left: 1rem;
  padding-right: 1rem;

  @include down($breakpoint-xs) {
    font-size: 0.8rem;
  }
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.link {
  margin: 1rem;

  svg {
    fill: $text-primary;
    height: 2rem;
    width: auto;
    transition: fill 0.25s;
  }

  svg:hover {
    fill: $text-highlight;
  }
}
