<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gram Liu</title>
    <link rel="icon" href="assets/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/pure-min.css">
    <link rel="stylesheet" type="text/css" media="screen and (max-device-width: 480px)" href="assets/css/index_mobile.css" />
    <link rel="stylesheet" type="text/css" media="screen and (min-device-width: 480px)"href="assets/css/index.css">
    <script src="assets/js/jquery.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135464080-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-135464080-1');
    </script>

</head>

<body>
    <div id="container">
        <div id="box" class="slideUp">
            <img src="assets/images/portrait.jpg" id="portrait">
            <div id="card">
                <div id="cardhead">
                    <p id="cardHeader">My name is <span id="cardName">Gram Liu</span></p>
                    <p id="cardDesc">Engineer. Scientist. Geek.</p>
                </div>
                <hr>
                <div id="cardContent">
                    <table>
                        <tr class="menuItem" onclick="window.location='about';">
                            <td class="cardMenu">
                                About
                            </td>
                        </tr>
                        <tr class="menuItem" onclick="window.location='resume';">
                            <td class="cardMenu">
                                Resume
                            </td>
                        </tr>
                        <tr class="menuItem" onclick="window.location='blog';">
                            <td class="cardMenu">
                                Blog
                            </td>
                        </tr>
                    </table>
                </div>
                <hr>
                <div id="cardFooter">
                    <a href="mailto:gramliu@cmu.edu" class="mediaLink">
                        <img src="assets/images/mail.png" class="media">
                    </a>
                    <a href="https://www.facebook.com/gram.liu226" target="_blank" class="mediaLink">
                        <img src="assets/images/facebook.png" class="media">
                    </a>
                    <a href="https://www.linkedin.com/in/gdliu/" target="_blank" class="mediaLink">
                        <img src="assets/images/linkedin.png" class="media">
                    </a>
                    <a href="http://github.com/gramliu" target="_blank" class="mediaLink">
                        <img src="assets/images/github.png" class="media">
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>