$font-primary: "Argentum Sans", sans-serif;
$font-mono: "Source Code Pro", monospace;

$background-color: #263238;
$background-light: #314149;
$background-light2: #526e7c;

$text-primary: #e6edf2;
$text-secondary: #f05d5e;
$text-faded: #a3b6c2;

$text-highlight: #73ee87;
$text-highlight1: #5bbc6b;

$highlight: #73ee87;
$highlightDarker: #5bbc6b;
$errorText: #E05652;