@import "./src/styles/variables.scss";
@import "./src/styles/mixins.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $text-primary;
  padding-top: 20rem;
  margin-left: 30%;
  margin-bottom: 20rem;
  @include down($breakpoint-md) {
    width: 90%;
    margin: 0 auto;
  }
}

.header {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
}

.content {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  @include down($breakpoint-xs) {
    flex-direction: column;
  }
}