@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variables.scss";
@import "./mixins.scss";

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;600;700&family=Source+Code+Pro&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  inset: 0;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-primary;
  color: $text-primary;
  background-color: $background-color;
  overflow-x: hidden;
}

img {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

.hoverLink {
  display: inline;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: $text-highlight;

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    right: 0;
    width: 0;
    bottom: -2px;
    background: $text-highlight;
    height: 1px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  &:is(:hover, :focus, :active)::after {
    left: 0;
    right: auto;
    width: 100%;
  }
}
