$font-primary: "Red Hat Display", sans-serif;
$font-mono: "Source Code Pro", monospace;
$font-nav: "Red Hat Display", sans-serif;

$background-color: #263238;
$background-highlighted: #e7ecef20;
$background-light: #314149;
$background-light2: #526e7c;

$text-primary: #e6edf2;
$text-secondary: #f05d5e;
$text-faded: #a3b6c2;

$text-highlight: #73ee87;
$text-highlight1: #5bbc6b;

$highlight: #73ee87;
$highlightDarker: #5bbc6b;
$errorText: #e05652;

$box-shadow:
  0 1px 2px rgba(0, 0, 0, 0.07), 
  0 2px 4px rgba(0, 0, 0, 0.07),
  0 4px 8px rgba(0, 0, 0, 0.07), 
  0 8px 16px rgba(0, 0, 0, 0.07);